<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../inc/header')  %> 
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        
       <h2>Welcome Dashboard</h2>
        
    </div>
</body>
</html>