<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../inc/header')  %> 
    <title>Settings</title>
</head>
<body>
    <div class="container">
        <%- include('../inc/navBar')  %> 
       <h2>Welcome Settings</h2>
        
    </div>
</body>
</html>